<div class="pure-u-1">
   <div class="title">
        <h2>Choose message type to view</h2>
   </div>
    <a href="/dashboard/text">View text  messages</a>
    </br>
    <a href="/dashboard/image">View image messages</a>
</div>