<link rel="stylesheet" href="/css/slide.css">

<div class="alert alert-success" style="display:none">
  请使用微信添加公众账号：go_serv, 发布文字和图片消息
</div>
<div id="loading">
    Sohub is loading...
</div>
<div  class="main-container">
    <ul class="content text-content">
    </ul>
    <div class="image-content" style="display:none;">
    </div>
    <div class="content notice-content" style="display:none;">
    </div>
</div>
