<link href='http://fonts.googleapis.com/css?family=Cherry+Swash|Arapey:400italic' rel='stylesheet' type='text/css'>

<div class="sohub">
  <h1>Sohub</h1>
  <p>
    <a class="btn btn-success btn-large" href="/message">
      Show me one!
    </a>
  </p>
  <div class="qrcode">
    <img src="/images/qrcode.jpg" title="请使用微信扫描我">
  </div>
</div>