<link href='http://fonts.googleapis.com/css?family=Cherry+Swash|UnifrakturMaguntia' rel='stylesheet' type='text/css'>

<div class="hero-unit sohub">
  <h1>Sohub</h1>
  <p>
    <a class="btn btn-primary btn-large" href="/message">
      Show me the sohub!
    </a>
  </p>
</div>