a{
    text-decoration: none;
}
h1 a {
    text-align: center;
    text-decoration: none;
}
.container{
    min-height: 400px;
}

.footer{
    text-align: center;
}

.item{
    margin: 1.3em 0 1em;
    padding: 1.3em;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: rgb(250, 250, 250);
    border: 1px solid #eee;
}

.content li{
    list-style: none;
}

.content li .footprint{
    font-size: 10px;
}