body{
    overflow: hidden;
    background-color: #1f8dd6;
}

a {
    text-decoration: none;
}

h1 a {
    text-align: center;
    text-decoration: none;
}

.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.main-container ul {
    margin-left: 0px;
}

.footer {
    text-align: center;
}

.item {
    margin: 1.3em 0 1em;
    padding: 1.3em;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: rgb(250, 250, 250);
    border: 1px solid #eee;
}

.content li {
    list-style: none;
}

.content li.alert {
    padding: 19px 35px 19px 14px;
    height: 200px;
}

.content li blockquote {
    font-size: 2em;
}

.content li .footprint {
    font-size: 0.9em;
}

.image-content figure img {
    max-width: 100%;
}

.message-process-bar {
    margin-top: -20px;
}

.footer {
    background: rgba(29,59,80,0.6);
    position:fixed;
    bottom:0;
    font-size: 14px;
    color: #ffffff;
    width:100%;
    left: 0;
    padding: 5px 10px;
    text-align: center;
}

.footer a {
    color: #ffffff;
    margin-left: 40px;
}

.sohub {
    margin-top: 50px;
    text-align: center;
    font-family: 'Cherry Swash', cursive;
}

.sohub h1 {
    margin-bottom: 1em;
    font-size: 85px;
    font-family: 'UnifrakturMaguntia', cursive;

}

.big-screen-container .progress{
    position:fixed;
    bottom:11px;
    width: 100%;
    left: 0;
}
